* {
    box-sizing: border-box;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'DM Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 800px;

    margin: 0 auto;

}

.container {
    max-width: 1152px;
    min-width: 800px;
    margin: 0 auto;
    padding: 0 16px;

}

.head {
    background-color: #3098F3;
    padding-top: 29px;
    padding-bottom: 25px;
}

.head-top {
    display: flex;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 32px;
}

.designing {
    background-color: #3098F3;
}

.designing-item {
    display: flex;
}

.designing-text {
    max-width: 583px;
    padding-top: 215px;
    padding-bottom: 298px;
}

.designing-text h1 {
    font-weight: 400;
    font-size: 51px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #FFFFFF;
}

.designing-pic {
    align-self: flex-end;
    padding-bottom: 17px;
}

.together {
    font-family: 'Archivo', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #FFCC00;
}

.were-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.were-text {
    width: 470px;
    margin-right: auto;
}

.were-text h2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    color: #05051E;
}

.were-pic-circle {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding: 160px 0;
    max-width: 438px;
}

.circle-item {
    border-radius: 50%;
    width: 196px;
    height: 196px;
    display: flex;
    margin: 0 11px;

}

.circle-item svg {
    margin: auto;
}

.blue {
    background-color: #3098F3;
    margin: auto;
}

.yellow {
    background-color: #FFCC00;
}

.red {
    background-color: #FE6571;
}

.columbia-nubi {
    padding-bottom: 80px;
}

.study {
    display: flex;
    padding-bottom: 80px;
    justify-content: center;
}

.study-button {
    display: flex;
    justify-content: center;
}

.picture-study {
    width: 50%;
}

.text-study {
    display: flex;
    background-color: #F2EAE2;
    width: 50%;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
}

.text-study h2 {
    margin-bottom: auto;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #05051E;
}

.text-study-top {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #3098F3;
    text-decoration: none;
    padding-bottom: 10px;
}

.text-study-button {
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    color: #05051E;
    display: inline-flex;
    align-items: center;
}

.text-study-button svg {
    margin-right: 8px;
}

.study:nth-child(even) {
    flex-direction: row-reverse;
}

.study:nth-last-child(2) {
    padding-bottom: 64px;
}

.study:last-child {
    flex-direction: row;
}

.text-study-button:hover path {
    fill: black;
}

.button-studies-item {
    padding: 15px 27px;
    border-radius: 100px;
    background-color: #3098F3;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

}

.design-together {
    background-color: #FFCC00;
    padding: 124px 0;
}

.design-together-item {
    display: flex;
}

.design-together-pic {
    width: 58.333%;
}

.design-together-text {
    width: 41.666%;
    padding-top: 96px;
    padding-bottom: 82px;
}

.design-together-head {
    font-weight: 400;
    font-size: 51px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #05051E;
    padding-bottom: 40px;
}

.design-together-head-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #05051E;
    padding-bottom: 45px;
}

.design-together-head span {
    font-family: 'Archivo', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #05051E;
}

.we-have {
    padding-top: 160px;
    padding-bottom: 64px;
}

.we-have-head {
    font-weight: 400;
    font-size: 51px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #05051E;
    padding-bottom: 18px;
}

.we-have-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #05051E;
    padding-bottom: 55px;
}

.we-have-card {
    display: flex;
    margin: 0 -16px;
    padding-bottom: 31px;
}

.we-have-card-item {
    width: 33.333%;
    margin: 0 16px;
    background-color: #3098F3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.we-have-card-item p {
    margin-bottom: auto;
    padding-bottom: 49px;
}

.we-have-card-item a {
    align-self: flex-end;
}


.we-have-card-item svg:first-child {
    padding-bottom: 21px;
}

.we-have-right {
    display: flex;
    justify-content: flex-end;
}

.footer {
    padding-top: 129px;
}

.footer-img {
    background-image: url(../img/frame_footer.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #082C4E;
}

.footer {
    padding-top: 129px;
    padding-bottom: 115px;
}

.footer-head {
    width: 50%;
    font-weight: 400;
    font-size: 51px;
    line-height: 67px;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    padding-bottom: 35px;
}

.button-1 {
    display: inline-block;
    padding: 16px 32px;
    font-size: 18px;
    line-height: 25px;
    color: #082C4E;
    border-radius: 100px;
    text-decoration: none;
    background-color: #FFCC00;
    margin-bottom: 183px;
}